{% comment %} image-with-text-custom {% endcomment %}
<section class="iwt_custom iwt_matress_info {{ section.settings.sectionclass }}" style="background-color: {{section.settings.color_title}}">
  <div class="wrapper--full-padded">
    <h2 class="red_header">{{ section.settings.heading }} </h2>
    <div class="iwt_matinfo_repeater">
        {% for block in section.blocks %}
            <div class="matinfo_block">
          <div class="multi_col_text">
                  {{ block.settings.text }}
                </div>
              <div class="multi_col_textarea">
                  {{ block.settings.textarea }}
                </div>
             
            </div>
        {% endfor %}
      </div>
    </div>
</section>


{% schema %}
  {
    "name": "Mattress Info",
	"settings": [
      {
            "type": "text",
            "id": "sectionclass",
            "label": "Class for styling colors"
      },
      {
            "type": "text",
            "id": "heading",
            "label": "Heading"
      },
      {
        "type": "color",
        "id": "color_title",
        "label": "Background color",
        "default": "#FFFFFF"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "settings": [
           {
            "type": "textarea",
            "id": "text",
            "label": "Title"
          },
          {
           "type": "textarea",
           "id": "textarea",
           "label": "Textarea"
         }
        ]
      }
    ],
"presets": [
    {
      "name": "Mattress Info"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}